<script src="/static/main-js/jquery-3.2.1.min.js"></script>
        <script src="/static/main-js/popper.js"></script>
        <script src="/static/main-js/bootstrap.min.js"></script>
        <script src="/static/main-js/stellar.js"></script>
        <script src="/static/main-vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/static/main-vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="/static/main-vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="/main-vendors/isotope/isotope-min.js"></script>
        <script src="/static/main-vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/static/main-js/jquery.ajaxchimp.min.js"></script>
        <script src="/static/main-vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="/static/main-vendors/counter-up/jquery.counterup.js"></script>
        <script src="/static/main-js/mail-script.js"></script>
        <script src="/static/main-vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="/static/main-js/theme.js"></script>
{#		<script type="application/ld+json">#}
{#		{#}
{#		  "@context": "https://schema.org",#}
{#		  "@type": "Organization",#}
{#		  "name": "Kubool",#}
{#		  "alternateName": "GDPD.XYZ",#}
{#		  "url": "https://kubool.com",#}
{#		  "logo": "https://gdpd.xyz/kimages/logo-icon-1024x1024.png",#}
{#		  "contactPoint": {#}
{#			"@type": "ContactPoint",#}
{#			"telephone": "(731) 678-2618",#}
{#			"contactType": "customer service",#}
{#			"areaServed": ["US","CA"],#}
{#			"availableLanguage": "en"#}
{#		  },#}
{#		  "sameAs": [#}
{#			"https://www.facebook.com/kuboolapp/",#}
{#			"https://www.twitter.com/kuboolapp/",#}
{#			"https://www.instagram.com/kuboolapp/",#}
{#			"https://kubool.com/"#}
{#		  ]#}
{#		}#}
{#		</script>#}
    </body>
    </html>