
{% include 'header.html' %}
	
	<body data-spy="scroll" data-target="#mainNav" data-offset="70">

        <header class="header_area">
            <div class="main_menu" id="mainNav" >
            	<nav class="navbar navbar-expand-lg navbar-light"style="background-color: rgba(0,0,0,0.2)">
					<div class="container">
						<a class="navbar-brand logo_h" href="index-2.html"><img src="main-img/logo.png" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="#home">HOME</a></li>
{#								<li class="nav-item"><a class="nav-link" href="#download">DOWNLOAD</a>#}
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GET STARTED</a>
									<ul class="dropdown-menu " >
										<li class="nav-item "><a class="nav-link" href="{{ url_for('signin')|safe }}">LOGIN</a></li>
										<li class="nav-item "><a class="nav-link" href="{{ url_for('signup')|safe }}">REGISTER</a></li>
									</ul>
								</li>
								<li class="nav-item"><a class="nav-link" href="#">CONTACT</a></li>
							</ul>
						</div>
					</div>
            	</nav>
            </div>
        </header>

        <section class="home_banner_area" id="home">
            <div class="banner_inner">
				<div class="container">
					<div class="row banner_content">
						<div class="col-lg-9">
							<h2>Send Secret<br>Anonymous Messages Online</h2>
							<p>Mist is a dare-based anonymous messaging tool. Create a link to your profile and send it to all of your contacts to see what they think of you. You can effortlessly give and receive anonymous compliments, and secrets for free with Mist!</p>

						</div>
						<div class="col-lg-3">
							<div class="banner_map_img">
								<img class="img-fluid" src="main-img/banner/right-mobile.png" alt="">
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>

        <section class="feature_area p_120" id="feature">
        	<div class="container">
        		<div class="main_title">
        			<h2>Why use Mist?</h2>
        			<p>Our Anonymous Messaging App comes along with many great features. Here we are going to list some of them. Have a look below.</p>
        		</div>
        		<div class="feature_inner row">
        			<div class="col-lg-3 col-md-6">
        				<div class="feature_item">
        					<img src="main-img/icon/f-icon-1.png" alt="">
        					<h4>Anonymity</h4>
        					<p>Our Platform protects your privacy, allowing you to remain anonymous whenever you send a secret message to someone. You will remain anonymous unless you choose to expose your identify.</p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6">
        				<div class="feature_item">
        					<img src="main-img/icon/f-icon-1.png" alt="">
        					<h4>Safe & Secure</h4>
        					<p>We place a high value on the safety of our users when they utilize this anonymous messaging platform. We have reporting methods in place, so you can report anything you don't like to see.</p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6">
        				<div class="feature_item">
        					<img src="main-img/icon/f-icon-1.png" alt="">
        					<h4>24/7 Support</h4>
        					<p>We are always here to assist you with anything relating to our anonymous chat and feedback platform. 24 hours a day, seven days a week.</p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6">
        				<div class="feature_item">
        					<img src="main-img/icon/f-icon-1.png" alt="">
        					<h4>Tangible feedbacks</h4>
        				<p>Unlike other anonymous platforms, where random individuals may quickly guess the names of other users and send messages, Mist creates hashed strings that are difficult to guess. As a result, the feedback created is palpable and contained inside one's circle.</p>
                        </div>
        			</div>
        		</div>
        	</div>
        </section>

        <footer class="footer-area p_30">
            <div class="container">
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-md-8 footer-text m-0">
Copyright &copy; 2022 - Mist <b>|</b> <b><a href="#">Privacy Policy</a></b>
<br>
                    <div class="col-lg-4 col-md-4 footer-social" id="contact">
                    </div>
                </div>
            </div>
        </footer>
    {% include 'footer.html' %}
